/* Responsivo para telas até 1200px */
@media (max-width: 1200px) {
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-container{
        width: 100%;
        align-items: center;
        margin-bottom: 15%;
    }

    header h1 {
        font-size: 32px;
    }

    .descrição h2 {
        font-size: 1.2em;
    }

    .descrição p {
        font-size: 0.95em;
    }
    .video-item {
        width: 100%;     /* Um por linha */
        margin-bottom: 20px; /* Espaço entre os vídeos verticalmente */
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap; 
        gap: 10px; 
    }
}

/* Responsivo para telas até 700px */
@media (max-width: 700px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    header h1{
        font-size: 28px;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }
    .titulo2 {
        font-size: 30px;
        text-align: center;
    }

    .descrição {
        font-size: 1em;
        margin-top: 20px;
    }

    footer {
        text-align: center;
        font-size: 0.9em;
    }
    .videobox {
        max-width: 100%;
        height: auto;
    }

    .descrição h2 {
        font-size: 1.1em;
    }

    .descrição p {
        font-size: 0.9em;
    }

}