/*Resetando margens e padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

/*Estilo do corpo da página*/
body {
    background-color: #ffffff;
    color: #ffffff;
    line-height: 1.6; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Cabeçalho */
header{
    background-color: #872350;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 105px;
}

a{
    text-decoration: none;
    color: #dddddd; /*???*/
}

header h1{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
}

header nav{
    display: flex;
    align-items: center;
}

header nav a{
    margin-right: 1.3em;
    font-size: 1.5em;
}

header h1, a{
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

.titulo2 {
    color: #7e034f;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

/*VÍDEOS*/

.video {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-item {
    width: 30%;
    height: auto;
}

.videobox {
    width: 100%;
    height: auto;
}
.textodescri {
    margin-top: 10px;
    text-align: center;
    color: #32001f;
}



/*IMAGENS E FOTOGRAFIAS*/

.main-container {
    padding: 40px 0; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
  }

  .galeria {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linha em telas pequenas */
    gap: 30px;
    justify-content: center; /* Centraliza os cartões */
    align-items: center;
  }

  .img {
        width: 100%;      /* A imagem ocupa toda a largura do article */
        height: auto;     /* Mantém a proporção original da imagem */
        border-radius: 8px;
        display: block;   /* Remove pequenos espaços indesejados abaixo da imagem */
    }
  
 
  .galeriaitens {
    background-color: #872350e4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    flex: 1 1 300px; /* NOVO: define tamanho mínimo e permite crescer */
    max-width: 400px; /* Largura máxima por cartão */
    box-sizing: border-box;
    text-align: center;
  }

.galeriaitens:hover{
    box-shadow: 0px 0px 8px #ea3f83;
}

     /*SITES*/
  .descrição {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
  }

  .descrição-sites h2 p {
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
  }

/* Estilo do rodapé */

footer{
    background-color: #5e1737;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{
    font-size: 0.8em;
    font-weight: 200;
    color: #ffffff;
}

